/* Container styling */
.Container {
    display: flex;
    flex-direction: row;
    width: 100% !important;

}

.Container-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100% !important;
    max-height: 100vh;
    overflow: hidden;
}

.Container-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* end Container styling */

/* panel styling */
div.Right-panel {
    min-width: 40%;
    height: 92vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}




.Right-panel {
    background-color: rgb(255, 255, 255);
    object-fit: contain;
    align-items: flex-end;
    height: auto;
}



.Left-panel {
    background-color: rgb(255, 255, 255);
    padding-left: 5em;

}

.Left-panel p {
    font-size: 54px;
    line-height: 1em;
    word-spacing: .1em;
    font-weight: 300;
    margin-bottom: .6em;
}

.Right-panel img {
    object-fit: cover;
    height: auto;
    max-width: 100%;
    min-width: 40%;
    max-height: 100%;
    min-height: 40%;
    object-position: 11em 0%;
}



.Left-panel img {
    border: 1px solid pink;
}


/* end panel styling */

.section {
    width: 100%;
}

.placeholder {
    height: 60vh;
    width: 100%;
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

/* row styling */

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    /* border: 1px solid purple; */
    /* height: 60vh; */
    padding: 0;
    margin: 3vh 0px;
    font-size: 25px;
}

.row:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    /* border: 1px solid purple; */
}


/* .col-md-6 {
    border: 1px solid grey;
} */


.btn-dark {
    width: 200px;
    border-radius: 0;
}


.smallPlaceholder {
    height: 34vh;
    width: 18vw;
    background-color: lightgray;
}

.team-button {
    width: fit-content;
}


@media(max-width: 769px) {
    .Container-header {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        height: fit-content;
    }

    div.Left-panel,
    div.Middle-panel,
    div.Right-panel,
    .section {
        width: 100%;
        height: auto;

    }

    .Right-panel img,
    .Left-panel img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    div.Middle-panel {
        position: relative;
    }
}