/* Page styles */
.HomePage-paragraph {
  font-size: 1.125rem;
  line-height: 3.125rem;
}

.HomePage-play-bingo-btn {
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: .4rem;
  -webkit-box-shadow: 0px 7px 7px .01px rgb(195, 145, 251);
  -moz-box-shadow: 0px 7px 7px .01px rgb(195, 145, 251);
  box-shadow: 0px 6px 7px .01px rgb(195, 145, 251);
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}

.HomePage-play-bingo-btn:hover {
  background-color: #710071;
}


/* Hero styles */
.HomePage-hero {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  column-gap: 6rem;
  justify-content: center;
  text-align: center;
}

.HomePage-hero h1 {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.HomePage-hero-name {
  font-size: 1.25rem;
  font-weight: 500;
  white-space: nowrap;
}

.HomePage-OliviaGraphic {
  width: 90%;
}

#HomePage-hero-desktop-btn {
  display: none;
}

#HomePage-hero-mobile-btn {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Tablet styling */
@media screen and (min-width: 600px) {
  .HomePage-paragraph {
    font-size: 1.5rem;
  }

  /* Hero styles */
  .HomePage-hero h1 {
    font-size: 2.875rem;
    line-height: 6.856rem;
  }

  .HomePage-hero-name {
    font-size: 1.875rem;
  }

  #HomePage-hero-mobile-btn {
    padding-left: 4rem;
    padding-right: 4rem;
  }

}

/* Laptop styling */
@media screen and (min-width: 900px) {
  .HomePage-play-bingo-btn {
    margin-left: 0;
  }

  /* Hero styles */
  .HomePage-hero {
    flex-direction: row;
    margin-top: 2rem;
    text-align: left;
  }

  .HomePage-hero-left {
    padding-top: 6rem;
  }

  .HomePage-hero-right {
    width: 50%;
  }

  #HomePage-hero-desktop-btn {
    display: flex;
  }

  #HomePage-hero-mobile-btn {
    display: none;
  }
}

/* Desktop styling */
@media screen and (min-width: 1400px) {

}