#root>div>nav>div {
    padding: 0;
}

.nav-wrapper {
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* max-height: 6rem; */
    position: sticky;
    top: 0;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 90% !important; */
    /* min-width: 720px; */
    margin: 0 auto;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;

    gap: 2%;
    /* border: 1px solid red; */
    width: 100%;
}

.nav-content {
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    /* width: 100%; */
    display: flex;
    justify-content: space-evenly;

}


.nav-content>ul {
    gap: 5%;
    width: 60%;
    justify-content: flex-end;
}


.navbar-brand {
    position: relative;
    display: flex;
    object-fit: contain;

}

.logo-wrapper {

    width: max-content;
}

.logo-img {
    height: 5.5rem;
    width: auto;
    padding: 0;
    margin: 0;
}

.logo-img:hover {
    animation: logoShake 2s ease 0s 1 normal forwards;
    scale: 1.01;

}

.logo-img:active {
    scale: .98;
}

@keyframes logoShake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-1.3px);
    }

    20%,
    40%,
    60% {
        transform: translateX(1.3px);
    }

    80% {
        transform: translateX(0px);
    }

    90% {
        transform: translateX(0px);
    }
}

#root>div>div.mobile-menu {
    /* font-size: ; */
}

.nav-content ul {
    display: flex;
    align-items: center;
    /* gap: 50px; */
    list-style: none;
    margin: 0;
    padding: 0;
    /* width: fit-content; */

}

.menu-item {
    font-weight: 300px;
}

li .nav-link {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    color: #000;

}

.nav-play-btn {
    /* width: 384px;
    height: 70px; */
    border-radius: 30px;
    border: 0px solid transparent;
    /* padding: 5px 10px 5px 10px; */
    width: 284px;
    height: 70px;
    /* padding: 20px 30px 20px 30px; */
    /* gap: 13px; */
    /* border-radius: 30px 0px 0px 0px; */

}

.nav-play-btn a {
    font-weight: 800;
    font-size: 1.5em;
    line-height: 36px;
    letter-spacing: .15em;
    font-variant: normal;
    color: #fff;
    text-decoration: none;
}


.menu-item {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 1rem;
    color: #8d8d8d;
    position: relative;
    cursor: pointer;
}

.menu-item::before {
    content: " ";
    width: 2rem;
    height: 0.3rem;
    background: #e11774;
    border-radius: 0.5rem;
    position: absolute;
    opacity: 0;
    bottom: -0.6rem;
    transform: translateX(-1rem);
    transition: all 0.3s ease;
}

.menu-item:hover::before {
    width: 100%;
    transform: translateX(0rem);
    opacity: 1;
}

.menu-btn {
    width: 2.5rem;
    min-width: 2.5rem;
    height: 2.5rem;
    min-height: auto;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    color: #fff;
    background: #e11774;
    line-height: 0;
    cursor: pointer;
    transition: all 0.04s ease;
    /* display: none; */
    z-index: 9999;
    /* transform: translateX(0vw); */
    visibility: hidden;

}

.menu-btn-hidden {
    visibility: hidden;

}

.menu-btn:hover {
    color: #ffffff;
    background-color: #e11774;
    /* border: 1px solid #e11774; */

}



@media (max-width: 1490px) {
    .nav-wrapper {
        max-width: 100% !important;
    }

    .nav-content {
        width: 83%;
    }

    #root>div>div.nav-wrapper>div>ul {
        gap: 8%
    }

}

@media (max-width: 1400px) {
    .nav-content {
        min-width: 86%;
    }

}

@media (max-width: 1360px) {

    .nav-content {
        width: 88%;
    }
}

@media (max-width: 1330px) {

    .nav-content {
        max-width: 90%;
        min-width: none;
    }
}

@media (max-width: 1300px) {}

@media (max-width: 1280px) {

    .nav-content {
        max-width: 95%;
        min-width: none;
    }
}

@media (max-width: 1220px) {
    #root>div>div.nav-wrapper>div>ul {
        gap: 1.5%
    }
}

@media (max-width: 1200px) {
    div.nav-content {
        /* max-width: 50% !important; */
        /* min-width: none; */
        /* background-color: #8d8d8d; */
    }

    .nav-content>ul {
        gap: 7%;
    }



    #root>div>div.nav-wrapper {
        min-width: 90% !important;
        /* margin: 0 !important; */
        padding: 0 !important;
    }
}

@media (max-width: 1038px) {

    #root>div>div.nav-wrapper {
        /* width: 99% !important; */
        /* margin: 0 !important; */
        padding: 0 !important;
        gap: 3%;
    }

    .nav-content {
        width: 100%;
    }


    .nav-content ul li {
        gap: 1%;
    }

}

@media(max-width: 998px) and (min-width: 764px) {

    .nav-content {
        position: relative;
        width: 100%;
        max-width: 100%;

    }

    .nav-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        /* width: 99% !important; */
        height: 152px;
        width: 100%;
        position: relative;
    }

    .logo-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #root>div>div.nav-wrapper>div>ul {
        display: none;
    }

    .row>* {
        /* max-width: 100%; */
    }

    .menu-btn {
        position: absolute;
        left: 0;
        z-index: 9999 !important;
    }

    .navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        /* position: relative; */
        max-height: 178px;
        min-height: 178px;
        flex-direction: row;

    }

    #root>div>nav>div>div.d-flex.align-items-center.justify-content-between.position-relative.flex-row-reverse>a,
    #root>div>nav>div>div.d-flex.align-items-center.justify-content-between.position-relative.flex-row>a {
        margin: .6em 0;
    }


    .logo-img {
        position: relative;
        /* position: absolute; */
        /* margin: 0 auto; */
        /* transform: translate(-50%, -50%); */

    }


    #root>div>nav>div>div.d-flex.align-items-center.justify-content-between.position-relative.flex-row>a>img {
        /* transform: translate(-50%, -50%); */
    }

    /* .nav-content ul {
        display: none;
    } */

    #root>div>nav>div>div.collapse.navbar-collapse.show {
        display: none;
    }

    #root>div>nav>div>div.d-flex.align-items-center.justify-content-between {
        flex-direction: row-reverse;
        width: 100%;
    }

    #root>div>nav>div>div.d-flex.align-items-center.justify-content-between.row {
        flex-direction: row;
        width: 100%;
    }

    #root>div>nav>div>div.d-flex.align-items-center.justify-content-between.row-reverse {
        flex-direction: row-reverse;
        width: 100%;
    }

    .menu-btn {
        border-radius: 50%;
        height: 2.6rem;
        width: 2.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        visibility: visible;
        transition: all 0.2s ease;

    }

    .menu-btn>span {
        padding: 0;
        margin: 0;

    }

    .material-symbols-outlined {
        font-size: 2.8rem;
    }

    .menu-btn:hover {
        border: none;

    }

    /* #root>div>nav>div>div.nav-content>button,
    #root>div>nav>div>div.nav-content {
        display: none;
    } */

    #root>div>div.nav-wrapper>div>ul>li {
        visibility: hidden;
    }

    #root>div>div.nav-wrapper>div>button.btn-info.nav-play-btn {
        display: none;
    }
}

@media (max-width: 764px) and (min-width: 320px) {

    .nav-content {
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .navbar-brand {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        position: relative;
        /* padding-right: 3rem; */
        max-height: 178px;
        min-height: 178px;
    }


    .menu-btn {
        position: absolute;
        left: 0;

    }

    .material-symbols-outlined {
        font-size: 2.8rem;
    }

    .nav-content ul,
    .nav-play-btn {
        display: none;
    }

    .logo-img {
        position: relative;

    }

    #root>div>nav>div>div.collapse.navbar-collapse.show {
        display: none;
    }

    #root>div>nav>div>div.d-flex.align-items-center.justify-content-between.position-relative.flex-row>a>img {
        /* left: 14.7rem; */
    }

    #root>div>nav>div>div.d-flex.align-items-center.justify-content-between.position-relative.flex-row-reverse>a>img {
        /* right: 10.9rem; */
    }
}