.nav-wrapper {
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* max-height: 6rem; */
    position: sticky;
    top: 0;
    z-index: 30;
    backdrop-filter: blur(50px);
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0;
    margin: 0 auto;
    max-width: 70% !important;
    gap: 25px;

}

.logo-wrapper {
    position: relative;
    display: flex;
    /* padding: 0rem 1rem; */
    width: 7.99999em;
    height: 5em;
    overflow: hidden;
    object-fit: fill;

}


.logo-img {
    /* aspect-ratio: 1/1; */
    height: 5.5rem;
    width: auto
}

#root > div > div.mobile-menu {
    /* font-size: ; */
}

.nav-content ul {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: fit-content;

}

.menu-item {
    font-weight: 300px;
}

li .nav-link {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    color: #000;

}

.nav-play-btn {
    width: 264px;
    height: 70px;
    border-radius: 30px;
    border: 0px solid transparent;

}

.nav-play-btn a {
    font-weight: 800;
    font-size: 1.5em;
    line-height: 36px;
    letter-spacing: .15em;
    font-variant: normal;
    color: #fff;
    text-decoration: none;
}


.menu-item {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 1rem;
    color: #8d8d8d;
    position: relative;
    cursor: pointer;
}

.menu-item::before {
    content: " ";
    width: 2rem;
    height: 0.3rem;
    background: #e11774;
    border-radius: 0.5rem;
    position: absolute;
    opacity: 0;
    bottom: -0.6rem;
    transform: translateX(-1rem);
    transition: all 0.3s ease;
}

.menu-item:hover::before {
    width: 100%;
    transform: translateX(0rem);
    opacity: 1;
}

.menu-btn {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.4rem;
    color: #fff;
    background: #e11774;
    line-height: 0;
    cursor: pointer;
    transition: all 0.4s ease;
    display: none;
}

.menu-btn:hover {
    color: #e11774;
    background-color: #000;
    border: 1px solid #e11774;
}

@media(max-width: 769px) {
    .menu-btn {
        display: block;
    }

    .nav-wrapper {
        width: 100vw;
    }

    .nav-content ul {
        display: none;
    }


}

@media (max-width: 1325px) {
    .nav-wrapper {
        padding: 0 2rem;
        width: 100%;
    }
}