.Footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    color: white;
    height: 40vh;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 80%;
}

.col-2 h2 {
    margin: 0;
}

.col-1 {
    margin: 0;
    padding: 0;
    max-width: 2%;

}

.col-2 {
    min-width: max-content;
    margin: 0% 2% 0% 2%;
}

.logo-placeholder {
    height: 101px;
    width: 135px;
    background-color: grey;

}

.logo-placeholder p {
    line-height: -4rem;
}

ul {
    margin: 0;
    padding: 0;
    text-align: left;
}

.footer-item {
    list-style: none;

}

.col-logo {
    text-align: left;
    justify-content: center;
    align-items: center;
    justify-content: center;

}

.Loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Loading-progress {
    height: 250px;
    width: 8px;
    border-radius: 3px;
    background: linear-gradient(0deg, red 0%, yellow 15%, lime 30%, cyan 50%, blue 65%, magenta 80%, red 100%);
    background-size: 200% 200%;
    animation: moveGradient 15s linear infinite;
    filter: blur(.7px);
}


@keyframes moveGradient {
    0% {
        background-position: 0% 200%
    }

    100% {
        background-position: 0% -200%;
    }
}