.Footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: transparent;
    background-image: url('../../assets/Footer\ curve.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 40vh; */
    min-height: min-content;
    color: #ffff;
    z-index: 9999;
    position: relative;
    margin-top: -150px;

}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 6rem 0;
    padding-top: 5%;
}

.col-2 h2 {
    margin: 0;
}

.col-1 {
    margin: 0;
    padding: 0;
    max-width: 2%;

}

.col-2 {
    min-width: max-content;
    margin: 0% 2% 0% 2%;
}

.logo-frame {
    height: 90px;
    width: 65px;
}

.footer-logo {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.logo-placeholder p {
    line-height: -4rem;
}

ul {
    margin: 0;
    padding: 0;
    text-align: left;
}

.footer-item {
    list-style: none;

}

.col-logo {
    text-align: left;
    justify-content: center;
    align-items: center;
    justify-content: center;

}

.Loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Loading-progress {
    height: 250px;
    width: 2px;
    border-radius: 3px;
    background: linear-gradient(0deg, red 0%, yellow 15%, lime 30%, cyan 50%, blue 65%, magenta 80%, red 100%);
    background-size: 200% 200%;
    animation: moveGradient 15s linear infinite;
    filter: blur(.7px);
}


@keyframes moveGradient {
    0% {
        background-position: 0% 200%
    }

    100% {
        background-position: 0% -200%;
    }
}