.AboutPage-header img {
  display: none;
}

@media screen and (min-width: 600px) {
  .AboutPage-header img {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: 0px;
    top: 51px;
    width: 78%;
    height: auto;
    z-index: 10;
  }
}

.AboutPage-our-story {
  position: relative;
  z-index: 20;
  margin-top: 0%;
  margin-bottom: 15%;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 149px;
}

.AboutPage-our-story img {
  max-width: 80%;
  height: auto;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 800px) {
  .AboutPage-our-story {
    flex-wrap: nowrap;
    margin-top: -10%;
    margin-bottom: 5%;
  }

  .AboutPage-our-story img {
    max-width: 30%;
    height: 30%;
  }
}

@media screen and (min-width: 1400px) {
  .AboutPage-our-story {
    margin-top: 38%;
  }
  .AboutPage-our-story img {
    max-width: 40%;
    height: 40%;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
  }
}