.AboutPage-header img {
  display: none;
}

@media screen and (min-width: 600px) {
  .AboutPage-header img {
    display: block;
    position: absolute;
    right: 0px;
    top: -60px;
    width: 80%;
    height: auto;
    z-index: 30;
  }
}

.AboutPage-our-story {
  position: relative;
  z-index: 40;
  margin-top: 35%;
  margin-bottom: 15%;
  margin-left: 80px;
  margin-right: 80px;
}

@media screen and (min-width: 600px) {
  .AboutPage-our-story {
    max-width: 95%;
    margin-bottom: 5%;
  }
}

.AboutPage-our-story img {
  max-width: 95%;
  margin-top: 7%;
  display: block;
}

@media screen and (min-width: 800px) {
  .AboutPage-our-story img {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

.AboutPage-our-hope {
  font-weight: 700;
  font-size: 34px;
  padding-top: 3%;
}